.ae-my-alerts-detail-container {
    height: -webkit-calc(100vh - 140px);
    height: -moz-calc(100vh - 140px);
    height: calc(100vh - 140px);
    width: 480px;
}

#alertDetailsArea {
    height: -webkit-calc(100vh - 140px);
    height: -moz-calc(100vh - 140px);
    height: calc(100vh - 140px);
    overflow: auto;
}

.ae-alert-list-detail-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40px 1fr 20px;
    grid-template-columns: 40px 1fr 20px;
    -ms-grid-rows: 40px 30px auto auto;
    grid-template-rows: 40px 30px auto auto;
            grid-template-areas:
        ". date ."
        ". reminder ."
        "flag info .";
}

.ae-alert-list-detail-grid .date{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
        align-self: center;
    grid-area: date;
}
.ae-alert-list-detail-grid .reminder{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: reminder;
}
.ae-alert-list-detail-grid .reminder > span{
    background-color: #DADADA;
    color: #FFFFFF;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 11px;
}
.ae-alert-list-detail-grid .flag{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: flag;
}
.ae-alert-list-detail-grid .info{
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: info;
}

.text-bold span {
	font-weight: bold;
}

.alert-text {
    font-size: 18px;
}

.alert-button {
    width: 140px;
}

@media all and (max-width: 710px) {
    #elemAtradiusAlerts{
        width: 350px;
        overflow: auto;
    }
}
@media all and (max-width: 560px) {
    #elemAtradiusAlerts{
        width: 300px;
        overflow: auto;
    }
}