<STYLE TYPE="text/css">
    @import url(css/taskManager.css);
</STYLE>

<div class="oj-hybrid-padding">
    <div class="data-main-grid">
        <oj-table id="taskTable" class="atr-table-content atr-table-column" aria-label="Task data Table"
            data="{{taskData}}" columns='[{"headerText": "Task Id",
                    "field": "taskId"},
                    {"headerText": "Name",
                    "field": "taskName"},
                    {"headerText": "date",
                    "field": "dateTime"},
                    {"headerText": "Errors",
                    "field": "errors"},
                    {"headerText": "Warnings",
                    "field": "warnings"},
                    {"headerText": "Comments",
                    "field": "comments"}]'>
        </oj-table>
    </div>
    <div class="">
        <oj-button class="atr-button-highlight"><span data-bind="text: acceptButton"></span></oj-button>
        <oj-button class="atr-button-highlight"><span data-bind="text: correctButton"></span></oj-button>
    </div>
</div>