<link rel="stylesheet" href="css/do/report.css">

<div class="report-main-grid">
  <div id="Calculator" class="calculator-train">
    <div id="train-container" :class="atr-train" >
      <h3>Calculator</h3>
      <oj-train id="Calculator-train" class="oj-train-stretch"
         steps="[[calculatorArray]]">
      </oj-train>
    </div>
  </div>

  <div id="Bonds" class="bonds-train">
    <div id="train-container" class="atr-train">
        <h3>Bonds</h3>
      <oj-train id="Bonds-train" class="oj-train-stretch" 
          steps="[[bondsArray]]">
      </oj-train>
    </div>
  </div>
</div>