.data-owner-container {
    display: flex;
    justify-items: center;
    width: 900px;
}

.data-owner-main-grid {
    display: flex;
    width: 100%
}

.data-owner-card {
    border: solid 1px;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 5px 10px 0px 10px;
    margin: 5px;
}

@media all and (max-width: 900px) {
    .data-owner-main-grid {
        flex-wrap: wrap;
    }

    .data-owner-card {
        width: 45%;
    }
}

@media all and (max-width: 700px) {
    .data-owner-main-grid {
        justify-content: center;
        width: 100%;
    }
    .data-owner-card {
        width: 100%;
    }
}