.report-main-grid {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 200px 1fr 200px;
    grid-template-areas: 
        "calculator-container"
        "."
        "bonds-container";
}

.calculator-train {
grid-area: calculator-container;
}

.bonds-train {
grid-area: bonds-container;
}